<footer>
  <p>This page was built using <a href="https://github.com/ringods/antora-ui-site-rds">a custom UI</a>.</p>
  <p>The source code for this UI is licensed under the terms of the Apache 2.0 license.</p>
</footer>
