{{!-- Add header content here --}}
<header class="pointer-events-none relative z-50 flex flex-col"
  style="height:var(--header-height);margin-bottom:var(--header-mb)">
  <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
    <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position:var(--header-inner-position)">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">
              <!-- Left part with avatar --> 
              <div class="flex flex-1">
                <div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10">
                  <a class="pointer-events-auto" aria-label="Home" href="/">
                    <img class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9" alt="" sizes="2.25rem" style="color:transparent" src="https://www.gravatar.com/avatar/d8e1c13e4abc601309eba4dd2ee3bc4c?s=128"/>
                  </a>
                </div>
              </div>
              <!-- Center part with navigation --> 
              <div class="flex flex-1 justify-end md:justify-center">
                <nav class="pointer-events-auto hidden md:block">
                  <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                    <li>
                      <a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/">Home</a>
                      <!-- TODO generate the headings via dynamic data -->
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Right part with controls (e.g. dark mode) --> 
              <div class="flex justify-end md:flex-1">
                <!-- TODO Add the controls here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
