{{!-- Add header content here --}}
<header>
  <nav>
    <div>
      <a href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div>
        <div id="search-field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
