{{#with page.navigation}}
<div data-panel="menu">
  <nav>
    {{#with @root.page.componentVersion}}
    <h3><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
