{{#unless (eq page.attributes.pagination undefined)}}
{{#if (or page.previous page.next)}}
<nav>
  {{#with page.previous}}
  <span><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
  {{/with}}
  {{#with page.next}}
  <span><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
  {{/with}}
</nav>
{{/if}}
{{/unless}}
