<!DOCTYPE html>
<html lang="en">
  <head class="h-full antialiased">
{{> head defaultPageTitle='Page Not Found'}}
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <div id="__next">
      <div class="fixed inset-0 flex justify-center sm:px-8">
        <div class="flex w-full max-w-7xl lg:px-8">
          <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
        </div>
      </div>
      <div class="relative">
{{> header}}
{{> body}}
{{> footer}}
      </div>
    </div>
  </body>
</html>
